In [188]:
import pandas as pd
import numpy as np

In [189]:
train=pd.read_csv('train_ctrUa4K.csv')

In [190]:
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [191]:
test=pd.read_csv('test_lAUu6dG.csv')
test.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,Male,Yes,0,Graduate,No,5720,0,110.0,360.0,1.0,Urban
1,LP001022,Male,Yes,1,Graduate,No,3076,1500,126.0,360.0,1.0,Urban
2,LP001031,Male,Yes,2,Graduate,No,5000,1800,208.0,360.0,1.0,Urban
3,LP001035,Male,Yes,2,Graduate,No,2340,2546,100.0,360.0,NaN,Urban
4,LP001051,Male,No,0,Not Graduate,No,3276,0,78.0,360.0,1.0,Urban

In [192]:
test.shape

(367, 12)

In [193]:
train.shape

(614, 13)

In [194]:
sub_file=pd.read_csv('sample_submission_49d68Cx.csv')
sub_file.head()

    Loan_ID Loan_Status
0  LP001015           N
1  LP001022           N
2  LP001031           N
3  LP001035           N
4  LP001051           N

In [195]:
sub_file.shape

(367, 2)

In [196]:
train.shape

(614, 13)

In [197]:
train.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

In [198]:
train.describe()

,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History
count,614.000000,614.000000,592.000000,600.00000,564.000000
mean,5403.459283,1621.245798,146.412162,342.00000,0.842199
std,6109.041673,2926.248369,85.587325,65.12041,0.364878
min,150.000000,0.000000,9.000000,12.00000,0.000000
25%,2877.500000,0.000000,100.000000,360.00000,1.000000
50%,3812.500000,1188.500000,128.000000,360.00000,1.000000
75%,5795.000000,2297.250000,168.000000,360.00000,1.000000
max,81000.000000,41667.000000,700.000000,480.00000,1.000000

In [199]:
train.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

In [200]:
test.isnull().sum()

Loan_ID               0
Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

In [201]:
test['Self_Employed'].unique()

array(['No', 'Yes', nan], dtype=object)

In [202]:
train.dtypes

Loan_ID               object
Gender                object
Married               object
Dependents            object
Education             object
Self_Employed         object
ApplicantIncome        int64
CoapplicantIncome    float64
LoanAmount           float64
Loan_Amount_Term     float64
Credit_History       float64
Property_Area         object
Loan_Status           object
dtype: object

In [203]:
train['Married'].unique()

array(['No', 'Yes', nan], dtype=object)

In [204]:
train['Gender']=train['Gender'].fillna('Unknown')
test['Gender']=test['Gender'].fillna('Unknown')

In [205]:
def impute_na_non_numeric(train,var):
    mode = train[var].mode().values[0]
    train[var] = train[var].fillna(mode)

In [206]:
def impute_na_non_numeric1(test,var):
    mode = test[var].mode().values[0]
    test[var] = test[var].fillna(mode)

In [207]:
impute_na_non_numeric(train,'Married')

In [212]:
impute_na_non_numeric1(test,'Married')

In [214]:
test['Married'].unique()

array(['Yes', 'No'], dtype=object)

In [215]:
impute_na_non_numeric1(test,'Self_Employed')

In [216]:
impute_na_non_numeric(train,'Self_Employed')

In [217]:
train['Dependents']=train['Dependents'].replace({'0':0,'1':1,'2':2,'3+':3,np.nan:0.0})

In [218]:
test['Dependents']=test['Dependents'].replace({'0':0,'1':1,'2':2,'3+':3,np.nan:0.0})

In [219]:
train['LoanAmount']=train['LoanAmount'].replace(np.NaN, train['LoanAmount'].mean())

In [220]:
test['LoanAmount']=test['LoanAmount'].replace(np.NaN, test['LoanAmount'].mean())

In [221]:
train['Loan_Amount_Term']=train['Loan_Amount_Term'].replace(np.NaN,train['Loan_Amount_Term'].mean())

In [222]:
test['Loan_Amount_Term']=test['Loan_Amount_Term'].replace(np.NaN,test['Loan_Amount_Term'].mean())

In [223]:
train['Credit_History']=train['Credit_History'].replace({np.nan:1.0})

In [224]:
test['Credit_History']=test['Credit_History'].replace({np.nan:1.0})

In [225]:
from sklearn.preprocessing import LabelEncoder

In [226]:
lbend=LabelEncoder()
train['Gender']=lbend.fit_transform(train['Gender'])
train['Married']=lbend.fit_transform(train['Married'])
train['Education']=lbend.fit_transform(train['Education'])
train['Self_Employed']=lbend.fit_transform(train['Self_Employed'])
train['Property_Area']=lbend.fit_transform(train['Property_Area'])

In [227]:
train.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,1,0,0.0,0,0,5849,0.0,146.412162,360.0,1.0,2,Y
1,LP001003,1,1,1.0,0,0,4583,1508.0,128.000000,360.0,1.0,0,N
2,LP001005,1,1,0.0,0,1,3000,0.0,66.000000,360.0,1.0,2,Y
3,LP001006,1,1,0.0,1,0,2583,2358.0,120.000000,360.0,1.0,2,Y
4,LP001008,1,0,0.0,0,0,6000,0.0,141.000000,360.0,1.0,2,Y

In [228]:
test['Gender']=lbend.fit_transform(test['Gender'])
test['Married']=lbend.fit_transform(test['Married'])
test['Education']=lbend.fit_transform(test['Education'])
test['Self_Employed']=lbend.fit_transform(test['Self_Employed'])
test['Property_Area']=lbend.fit_transform(test['Property_Area'])

In [229]:
test.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area
0,LP001015,1,1,0.0,0,0,5720,0,110.0,360.0,1.0,2
1,LP001022,1,1,1.0,0,0,3076,1500,126.0,360.0,1.0,2
2,LP001031,1,1,2.0,0,0,5000,1800,208.0,360.0,1.0,2
3,LP001035,1,1,2.0,0,0,2340,2546,100.0,360.0,1.0,2
4,LP001051,1,0,0.0,1,0,3276,0,78.0,360.0,1.0,2

In [230]:
drop_cols=['Loan_ID']

In [231]:
train.drop(drop_cols,axis=1).drop(["Loan_Status"],axis=1).values

array([[  1.,   0.,   0., ..., 360.,   1.,   2.],
       [  1.,   1.,   1., ..., 360.,   1.,   0.],
       [  1.,   1.,   0., ..., 360.,   1.,   2.],
       ...,
       [  1.,   1.,   1., ..., 360.,   1.,   2.],
       [  1.,   1.,   2., ..., 360.,   1.,   2.],
       [  0.,   0.,   0., ..., 360.,   0.,   1.]])

In [232]:
val_test=test.drop(drop_cols,axis=1).values

In [233]:
X = train.drop(drop_cols,axis=1).drop(["Loan_Status"],axis=1).values
y = train["Loan_Status"].values

In [234]:
from sklearn.model_selection import train_test_split

In [164]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.25,random_state=101)

In [165]:
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()

In [166]:
X_train = sc_X.fit_transform(X_train)
X_test = sc_X.transform(X_test)

In [167]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import GradientBoostingClassifier ,RandomForestClassifier ,GradientBoostingClassifier

In [168]:
from sklearn.linear_model import LogisticRegression

In [169]:
from sklearn.metrics import roc_auc_score ,mean_squared_error,accuracy_score,classification_report,roc_curve,confusion_matrix
import warnings

In [170]:
model=LogisticRegression()
model.fit(X_train,y_train)
#predicting values 
y_scores = model.predict(X_test)

In [171]:
val_pred_sub=model.predict(val_test)

In [172]:
from sklearn.metrics import confusion_matrix,accuracy_score,precision_score,recall_score,f1_score
from sklearn.metrics import classification_report

In [173]:
matrix=confusion_matrix(y_test,y_scores)
print('confusion_matrix:',matrix)

confusion_matrix: [[24 31]
 [ 2 97]]

In [174]:
csreport=classification_report(y_test,y_scores)
print('classification_report:',csreport)

classification_report:               precision    recall  f1-score   support

           N       0.92      0.44      0.59        55
           Y       0.76      0.98      0.85        99

    accuracy                           0.79       154
   macro avg       0.84      0.71      0.72       154
weighted avg       0.82      0.79      0.76       154

In [183]:
#model1=RandomForestClassifier()
model1 = RandomForestClassifier(n_estimators=150, max_features='sqrt', max_depth=12, criterion='gini',random_state=80)
model1.fit(X_train,y_train)
#predicting values 
y_scores1 = model1.predict(X_test)

In [184]:
val_pred_sub1=model1.predict(val_test)

In [185]:
csreport=classification_report(y_test,y_scores1)
print('classification_report:',csreport)

classification_report:               precision    recall  f1-score   support

           N       0.86      0.45      0.60        55
           Y       0.76      0.96      0.85        99

    accuracy                           0.78       154
   macro avg       0.81      0.71      0.72       154
weighted avg       0.80      0.78      0.76       154

In [186]:
#submission = pd.DataFrame({'Loan_ID':test['Loan_ID'],'Loan_Status':val_pred_sub})

In [187]:
sub_file = pd.concat([test['Loan_ID'],pd.DataFrame(val_pred_sub1,columns=['Loan_Status'])],axis=1)
sub_file.head()

    Loan_ID Loan_Status
0  LP001015           N
1  LP001022           N
2  LP001031           N
3  LP001035           N
4  LP001051           Y

In [180]:
sub_file.shape

(367, 2)

In [181]:
sub_file.isnull().sum()

Loan_ID        0
Loan_Status    0
dtype: int64

In [182]:
sub_file.to_csv('Submission_file_AVLoanHack.csv',index=False)